<div class="auction-container">

    <div class="sketch-container">
        <div id="sketch-holder">
            <div class="status" *ngIf="loadingStateMessage && loadingStateMessage !==''">{{loadingStateMessage}}</div>
        </div>
    </div>



    <div class="auction-info-container">
        <div><button *ngIf="isSelling" (click)="changeMode('buy')">Buy</button><button *ngIf="!isSelling" (click)="changeMode('sell')">Sell</button></div>

        <div *ngIf="!isSelling">
            <div *ngIf="currentAuction" class="auction-info">
                <div *ngIf="user && currentAuction.ownerAddress === user.account.address.bech32()">You own this auction
                </div>
                <div>Pixel Id: {{currentAuction.pixelId}}</div>
                <div>Starting Price: {{currentAuction.startingPrice}} XeGLD</div>
                <div>Ending Price: {{currentAuction.endingPrice}} XeGLD</div>
                <div>Current Bid: {{currentAuction.currentBid}} XeGLD</div>
                <div>Deadline: {{currentAuction.deadlineString}}</div>
                <div *ngIf="currentAuction.currentWinnerAddress">Current Winner: {{currentAuction.currentWinnerAddress}}
                </div>
                <form class="auction-form" (submit)="$event.preventDefault()">
                    <div class="bid-amount-container">
                        <label for="bid-amount">Bid: </label>
                        <input type="text" (keyup)="onKey($event)" [(value)]="bidAmount" placeholder="enter bid amount"
                            required>
                        <button type="submit" class="bid-button" (click)="createAuctionTransaction()">Place Bid</button>
                    </div>
                </form>
            </div>
            <div *ngIf="isSelling">
                <div *ngIf="selectedPixel" class="auction-info">
                    <div>Pixel Id: {{currentAuction.pixelId}}</div>
                    <form>
                        <label for="starting-price">Starting Price</label>
                        <input type="text" name="starting-price" (keyup)="onKey($event)" [(value)]="startingPrice">
                        
                        <label for="ending-price">Ending Price</label>
                        <input type="text" name="ending-price" (keyup)="onKey($event)" [(value)]="endingPrice">

                        <label for="deadline">Deadline (Hours)</label>
                        <input type="text" name="deadline" (keyup)="onKey($event)" [(value)]="deadlineH">
                    </form>
                </div>
            </div>
        </div>




        <div *ngIf="transactionModalIsVisible">
            <app-transaction-modal (cancelEmitter)="showTransactionModal(false)" (confirmEmitter)="confirmTransaction()"
                [transactionStatus]="loadingStateMessage"></app-transaction-modal>
        </div>
    </div>