<div class="transaction-container">
    <div class="transaction-modal">
        <div class="transaction-header">Transaction</div>
        <div class="transaction-function">{{transactionInfo.callFunction}}</div>
        <div class="transaction-value">Value: {{transactionInfo.callFunction}} XeGLD</div>
        <div class="transaction-gasLimit">Gas Limit: {{transactionInfo.gasLimit}}</div>
        <button class="confirm-btn" (click)="confirm()">Confirm</button>
        <button class="cancel-btn" (click)="cancel()">Confirm</button>
    </div>
</div>
