<div class="transaction-container" (click)="cancel()">
    <div class="transaction-modal">
        <div class="transaction-header">Transaction</div>
        <div class="transaction-info">
            <div class="transaction-function">Calling: "{{transactionInfo.callFunction}}"</div>
            <div class="transaction-value">Value: {{transactionInfo.callFunction}} XeGLD</div>
        </div>
        <div class="button-container">
            <div class="transaction-status">{{transactionStatus}}</div>
            <button class="confirm-btn" (click)="confirm()">Confirm</button>
            <button class="cancel-btn" (click)="cancel()">Cancel</button>
        </div>
    </div>
</div>
